/*--------------------- login page ----------------------*/

#login .appointment-form
{
	margin: 2%;
	background-color: rgba(80, 173, 150, 0.4);
	border: 1px #e3e8ef;
	border-radius: 5%;
	opacity:0.9;
	filter: alpha(opacity=60);
	text-align: center;
	margin-left: 45%;
	padding-top: 2%;
	padding-bottom: 2%;
	box-shadow: 5px 10px #989ba0; 
	background-color: rgb(43,34,45);
}

button
{
	width: 110px;
	height: 40px;
	border-radius: 10px;
	font-size: 20px;
}

/*---------------------Registration page -------------------*/

#register .appointment-form
{
	background-repeat: no-repeat;
	margin: 2%;
	background-color: rgba(80, 173, 150, 0.4);
	border: 1px #e3e8ef;
	border-radius: 5%;
	opacity:0.9;
	filter: alpha(opacity=60);
	text-align: center;
	margin-left: 45%;
	padding-top: 2%;
	padding-bottom: 2%;
	box-shadow: 5px 10px #989ba0;
	background-color: rgb(43,34,45);
	background-size: 300px 100px;
}